
*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

.info-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#timer{
    display: flex;
    justify-content: flex-end;
    margin-left: 75%;
}
#main{
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-size: 75px;
}

button{
    border-radius: 25px;
    color: white;
    background-color:darkmagenta;
    padding: 10px;
    border-color: purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
button:hover{
    background-color: aqua;
    color:darkmagenta;
    
}
button:active{
    background-color: burlywood;
    color:darkmagenta;
    border-color: aqua;
}
.questionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: auto;
    text-align: center;
}



#questionOne{
    display: none;
}
#questionTwo{
    display: none;
}
#questionThree{
    display: none;
}
#questionFour{
    display: none;
}
#questionFive{
    display: none;
}
#score{
    display: none;
}
#clearScore{
    display: none;
}
#clearAllScores{
    display: none;
}

/***** Test *****/

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 2px;
    width: 15%;
    height:10%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    width:15%;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    flex-direction: column;
    position:absolute;
    margin-left: 0%;
    margin-top: 1.5%;
  }
  li{
    /*list-style-type: none;*/
    text-align: left;
    font-size: 18px;
    
  }
